/* Variables */
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5) {
    html {
      font-size: 75%; } }

body {
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.hero {
  margin-top: -22%; }
  .hero img {
    width: 100%; }

.locations__map {
  width: 100%; }

/* Section - Navigation */
/* Navigation */
.navigation {
  /* Nav Links */ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#3f4ca4, #1d244b);
    z-index: 1000;
    transition: transform 0.8s; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #e39f5d 50%, #e39f5d 100%);
    background-size: 220%;
    transition: all 0.4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #283169;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #222;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__icons {
    margin-right: 1rem;
    height: 2.75rem;
    width: 2.75rem;
    fill: #fff; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.services__container {
  display: flex;
  justify-content: space-evenly; }
  .services__container__image img {
    width: 100%; }

/* Typography */
body {
  font-family: 'Roboto', serif; }

/* Titles */
h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem; }

/* paragraphs */
p {
  font-size: 1.6rem; }

.operations ul li {
  font-size: 1.6rem; }

/* Line boarder */
section.services, section.locations, section.payment, section.operations {
  border-bottom: 0.5rem solid #e39f5d; }

.footer {
  background-color: #e39f5d;
  grid-column: full-start / full-end;
  padding: 8rem; }
  .footer__icons {
    display: flex;
    justify-content: space-evenly; }
  .footer__icon {
    width: 4.5rem;
    height: 4.5rem; }
    .footer__icon__yelp {
      fill: #d32323; }
    .footer__icon__facebook {
      fill: #3b5998; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #eee;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(238, 238, 238, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #222;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
