/* Variables */
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5) {
    html {
      font-size: 75%; } }

body {
  position: relative;
  height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.hero {
  position: relative;
  height: 100vh;
  z-index: 1; }
  .hero .bg-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden; }
    .hero .bg-logo__content {
      width: 100%; }
  .hero .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    overflow: hidden; }
    .hero .bg-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .hero__icons {
    display: flex;
    justify-content: space-evenly; }
  .hero__icon {
    width: 4.5rem;
    height: 4.5rem; }
    .hero__icon__yelp {
      fill: #d32323; }
    .hero__icon__facebook {
      fill: #3b5998; }
    .hero__icon__google {
      fill: #ea4335; }

.locations__map {
  width: 100%; }

.operations {
  background-color: #e39f5d; }
  .operations__table {
    display: flex;
    justify-content: center; }
    .operations__table__body {
      background-color: #fff;
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5); }
  .operations td {
    padding: 1em 1.5em; }

/* Section - Navigation */
/* Navigation */
.navigation {
  /* Nav Links */ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#3f4ca4, #1d244b);
    z-index: 1000;
    transition: transform 0.8s; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #e39f5d 50%, #e39f5d 100%);
    background-size: 220%;
    transition: all 0.4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #283169;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #222;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__icons {
    margin-right: 1rem;
    height: 2.75rem;
    width: 2.75rem;
    fill: #fff; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1rem;
  margin: 1rem; }

.service {
  position: relative;
  width: 100%;
  border-radius: 1em;
  background-size: cover;
  height: 28vh; }
  .service__title {
    position: absolute;
    color: #fff;
    top: 80%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%); }
  .service-maintenance {
    background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url(../img/unsplash/engine.jpg); }
  .service-repair {
    background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url(../img/unsplash/repair.jpg); }
  .service-recovery {
    background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url(../img/unsplash/recovery.jpg); }
  .service-other {
    background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url(../img/unsplash/other.jpg); }

/* Typography */
body {
  font-family: 'Roboto', serif; }

/* Titles */
h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem; }

/* paragraphs */
p {
  font-size: 1.6rem; }

.operations__table__body {
  font-size: 1.6rem; }

/* Line boarder */
.copyright {
  font-size: 1.4rem;
  color: #222;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
