.gallery {
  justify-self: center;
  grid-row: 3 / 3;
  grid-column: center-start / center-end;

  @include respond(phone) {
    grid-column: full-start / full-end;
  }

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    width: 102%;
    opacity: 1;
    visibility: visible;
    background-color: $overlay;
    z-index: 3;
  }
}
