/* Typography */

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', serif;
}

/* Titles */
h3 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem;
}

/* paragraphs */
p {
  font-size: 1.6rem;
}
.operations ul li {
  font-size: 1.6rem;
}
