/* Variables */
$color-primary: #283169;
$color-primary-light: #3f4ca4;
$color-primary-dark: #1d244b;
$color-secondary: #e39f5d;
$color-secondary-light: #e77d2c;
$color-tertiary: #e5662b;
$color-white: #fff;
$color-black: #000;

$color-grey-dark-3: #222;

// Logo colors
$yelpy-red: #d32323;
$color-facebook: #3b5998;
$color-google: #ea4335;

// Font variables
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Box Shadow
$box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
$box-shadow-big: 0 2rem 4rem rgba(#000000, 0.2);

// overlay
$overlay: rgba(255, 255, 255, 0.3);
